#heading {
    color: red;
}

#chandu {
    color: dodgerblue;
}

#younger {
    color:plum
}

#content {
    color: blueviolet;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 150px;
}

.nav-items {
    padding: 0px 20px;
}
.nav-items > ul {
    font-size: larger;
    display : flex;
    list-style: none ;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.Search {
    padding: 10px;
}

.filter {
    padding: 10px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}
.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}
.restaurant-card {
    margin: 5px;
    padding: 8px;
    width : 200px;
}

.restaurant-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.restaurant-logo {
    width: 90%;
    padding: 5px;
}

.shimmer-container {
    display : flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width : 200px;
    height : 400px;
    background-color: #f0f0f0;
    margin: 20px;
}